@using MyBlogProject.Entity.ViewModels
@model RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<link href="~/Content/Login-SignUp.css" rel="stylesheet" />



@using (Html.BeginForm())
{

    <section class="gradient-customm">
        <style>
            .gradient-customm {
                background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
                min-height: 100vh;
                background-attachment: fixed;
            }
        </style>

        <div class="container py-5 h-100 ">
            <div class="row d-flex justify-content-center align-items-start h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase gradient-text">Registration</h2>
                                <p class="text-white-50">Welcome to Registration!</p>
                                <p class="text-white-50 mb-5">Please enter your Email, Username and Password!</p>

                                <section class="text-start ">@Html.ValidationSummary(false)</section>
                                <br />


                                <div class="form-outline form-white mb-4">
                                    <span class="bi bi-mailbox2 text-white-50 text"></span>
                                    <label class="form-label text-white-50 mb-1" for="typeUsernameX">Email</label>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-lg text-center", placeholder = "Enter your Email" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <span class="bi bi-person text-white-50 text"></span>
                                    <label class="form-label text-white-50 mb-1" for="typeUsernameX">Username</label>
                                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control form-control-lg text-center", placeholder = "Enter your Username" })
                                    @Html.ValidationMessageFor(model => model.Username)
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <span class="bi bi-lock text-white-50"></span>
                                    <label class="form-label text-white-50 mb-1" for="typePasswordX">Password</label>
                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control form-control-lg text-center", placeholder = "Enter your Password", type = "password" })
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <span class="bi bi-lock text-white-50"></span>
                                    <label class="form-label text-white-50 mb-1" for="typePasswordX">RePassword</label>
                                    @Html.TextBoxFor(model => model.RePassword, new { @class = "form-control form-control-lg text-center", placeholder = "Enter your Password,again", type = "password" })
                                    @Html.ValidationMessageFor(model => model.RePassword)
                                </div>


                                @*<div class="input-group form-outline form-white mb-4">
                                    <span class="bi bi-person text-white-50 text"></span>
                                    <label class="form-label text-white-50" for="typeUsernameX">Username</label>
                                    <input  name="Username" placeholder="Enter your Username" type="text" id="typeUsernameX" class="form-control form-control-lg text-center" />
                                </div>

                                <div class="input-group form-outline form-white mb-4">
                                    <span class="bi bi-lock text-white-50"></span>
                                    <label class="form-label text-white-50" for="typePasswordX">Password</label>
                                    <input  name ="Password" placeholder="Enter your Password" type="password" id="typePasswordX" class="form-control form-control-lg text-center " />
                                </div>*@


                                <br />
                                <br />
                                <button class="btn my-custom-btn btn-lg px-5" type="submit">Registration</button>

                      
                            </div>

                            <div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<script>
    $(document).ready(function () {
        $('#footer').hide();
    });
</script>





